html {
  scroll-behavior: smooth;
  body {
    font-family: 'Niconne', cursive, 'Avenir', Helvetica, Arial, sans-serif;
  }
}
  .preloader {
      background: #fff;
      width: 100%;
      height: 100%;
      position: fixed;
      z-index: 99999;
  }
  .preloader .middle i:first-child {
    /* -webkit-animation: preloaderAnimation 0.6s infinite alternate; */
    animation: preloaderAnimation 0.6s infinite alternate;
}
.preloader .middle .fi {
    float: left;
    margin-right: 8px;
}
.preloader .middle i:nth-child(2) {
    -webkit-animation: preloaderAnimation 0.6s 0.3s infinite alternate;
    animation: preloaderAnimation 0.6s 0.3s infinite alternate;
}
.preloader .middle i:nth-child(3) {
    -webkit-animation: preloaderAnimation 0.6s 0.6s infinite alternate;
    animation: preloaderAnimation 0.6s 0.6s infinite alternate;
}
.preloader .middle i:last-child {
    -webkit-animation: preloaderAnimation 0.6s 0.9s infinite alternate;
    animation: preloaderAnimation 0.6s 0.9s infinite alternate;
}
.preloader .middle .fi:last-child {
    margin-right: 0;
}
  #app {
    font-family: 'Niconne', cursive, 'Avenir', Helvetica, Arial, sans-serif;
  }
  .wrapper {
    .flower_fixed_body {
      
    }
    &:before {
      content: "";
      background: url(./assets/flower1.png) center center/100% no-repeat local;
      width: 250px;
      height: 184px;
      position: fixed;
      left: -100px;
      bottom: 0;
      z-index: 1;
    }
    &:after {
      content: "";
      background: url(./assets/flower2.png) center center/100% no-repeat local;
      width: 250px;
      height: 345px;
      position: fixed;
      right: -70px;
      top: 200px;
      z-index: 1;
    }
    .hero-slider {
      /*width: 100%;*/
      /*height: calc(100vh - 210px);*/
      min-height: 650px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      /*position: relative;*/
      z-index: 0;

      @media (max-width: 767px) {
        height: 500px;
        min-height: auto;
      }
      .slide-main-text {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-size: cover;
        background-position: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        z-index: 10;
        .container {
          padding-right: 15px;
          padding-left: 15px;
          margin-right: auto;
          margin-left: auto;
          .slide-title {
            margin-top: 80px;
          }
          .wedding-date {
            color: #fff;
            font-weight: 300;
            font-size: 18px;
            font-size: 1.2rem;
            text-transform: uppercase;
            display: inline-block;
            position: relative;
            letter-spacing: 2px;
            text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.35);
            &:before {
              content: "";
              background: #fff;
              width: 35px;
              height: 1px;
              position: absolute;
              left: -50px;
              top: 13px;
            }
            &:after {
              content: "";
              background: #fff;
              width: 35px;
              height: 1px;
              position: absolute;
              right: -50px;
              top: 13px;
            }
          }
          .count-down-clock {
              max-width: 700px;
              margin: 0 auto;
          }
          #clock {
              color: #fff;
              overflow: hidden;
              display: flex;
              justify-content: space-evenly;
              /*background-color: rgba(178, 201, 211, 0.9);*/
              height: 100px;
              align-items: center;
              opacity: 0.9;
              @media (min-width: 767px) {
                justify-content: center;
              }
          }
          .box {
            font-size: 25px;
            color: #ffffff;
            background-color: rgba(178, 201, 211, 0.9);
            padding: 10px;
            @media (min-width: 767px) {
              /*justify-content: center;*/
              margin-right: 5px;
            }
            &:nth-child(1) {
              border-top-left-radius: 15px;
              border-bottom-left-radius: 15px;
            }
            &:nth-child(4) {
              border-top-right-radius: 15px;
              border-bottom-right-radius: 15px;
              margin-right: 0px;
            }
          }
          h2 {
            font-family: 'Niconne', cursive, "aphroditeslimtextregular";
            font-size: 80px;
            font-size: 2.5rem;
            color: #fff;
            margin: 0.3em 0 0;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
          }
          .wedding-date {
            margin: 2em 0 3em;
          }
          &:before {
            display: table;
            content: " ";
          }
        }
      }
      .img-fluid {
        height: max-content;
      }
    }
    .header_section {
      .topbar {
        background: #fff;
        text-align: center;
        padding: 50px 0 30px;
        border-bottom: 1px solid #efefef;
        position: relative;
        z-index: 1;
        .container {
          padding-right: 15px;
          padding-left: 15px;
          margin-right: auto;
          margin-left: auto;
          .site-logo {
            display: inline-block
            a{
                text-decoration: none;
                -webkit-transition: all 0.2s;
                -moz-transition: all 0.2s;
                -o-transition: all 0.2s;
                -ms-transition: all 0.2s;
                transition: all 0.2s;
            }
            h1 {
                  font-family: 'Niconne', cursive, "aphroditeslimtextregular";
                  font-size: 30px;
                  font-size: 2rem;
                  margin: -0.12em 0 0.5em;
                  color: #202a41;
                  +span {
                    color: #797979;
                    font-weight: 300;
                    font-size: 12px;
                    font-size: 0.8rem;
                    /*text-transform: uppercase;*/
                    display: inline-block;
                    position: relative;
                    letter-spacing: 2px;
                    &:before{
                      content: "";
                      background: #ece9e9;
                      width: 35px;
                      height: 1px;
                      position: absolute;
                      left: -50px;
                      top: 9px;
                    }
                    &:after {
                      content: "";
                      background: #ece9e9;
                      width: 35px;
                      height: 1px;
                      position: absolute;
                      right: -50px;
                      top: 9px;
                    }
                  }
            }
          }
        }
      }  
    }
    .section-padding {
      padding: 90px 0;
      .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        &:before {
          display: table;
          content: " ";
        }
        .row {
          margin-right: -15px;
          margin-left: -15px;
          &:before {
            display: table;
            content: " ";
          }
          .invitation-box {
            background: #fff;
            -webkit-box-shadow: 0px 3px 24px 0px rgba(0, 0, 0, 0.06);
            box-shadow: 0px 3px 24px 0px rgba(0, 0, 0, 0.06);
            text-align: center;
            position: relative;
            max-width: 300px;
            padding: 50px 40px;
            margin: 0 auto;
            .btn-outline-primary {
              color: unset;
              border-color: rgba(178, 201, 211, 0.9);
            }
            .inner {
              h4 {
                font-family: 'Niconne', cursive, 'Avenir', Helvetica, Arial, sans-serif;
              }
            }
            &:before {
              width: calc(100% - 40px);
              height: calc(100% - 40px);
              position: absolute;
              left: 20px;
              top: 20px;
              border: 3px solid rgba(178, 201, 211, 0.3);
              content: ''
            }
          }
        }
      }
    }
  }

  .back-to-top {
    cursor: pointer;
    -webkit-animation-name: arrowAnimation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite;
    animation-name: arrowAnimation;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    background-color: rgba(178, 201, 211, 0.7);
    width: 45px;
    height: 45px;
    line-height: 45px;
    border: 2px solid #b2c9d3;
    border-radius: 45px;
    text-align: center;
    display: none;
    position: fixed;
    z-index: 999;
    right: 15px;
    bottom: 15px;
    /*-webkit-transition: all 0.2s;*/
    /*-moz-transition: all 0.2s;*/
    /*-o-transition: all 0.2s;*/
    /*-ms-transition: all 0.2s;*/
    /*transition: all 0.2s;*/
    .arrow {
      webkit-box-sizing: border-box;
      box-sizing: border-box;
      height: 20px;
      top: 15px;
      /* right: -18px; */
      position: absolute;
      width: 23px;
      right: 8px;
      border-style: solid;
      border-color: white;
      border-width: 0px 4px 4px 0px;
      -webkit-transform: rotate(45deg);
      transform: rotate(225deg);
      /*-webkit-transition: border-width 150ms ease-in-out;*/
      /*transition: border-width 150ms ease-in-out;*/
    }
    
  }
  .gallery-section {
      .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        .section-title {
          text-align: center;
          margin-bottom: 52px;
          padding-top: 70px;
          position: relative;
          h2 {
            margin-top: 20px;
          }
          &:before {
            content: "";
            background: url(./assets/sec-title-flower.png) center center/cover no-repeat local;
            width: 126px;
            height: 59px;
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            top: 0;
          }
        }
      }
    }
    .wishes-section {
      display: flex;
      justify-content: center;
      .section-title {

      }
      .section-content {
        position: relative;
        margin: 5px auto;
        &:before {
          content: "";
          background: url(./assets/img-3.png) center center/cover no-repeat local;
          width: 124px;
          height: 140px;
          position: absolute;
          /* left: -12%; */
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          top: 22px;
          right: -128px;
        }
      }
    }
  @-webkit-keyframes arrowAnimation {
    0%   {bottom: 30px;}
    100% {bottom:20px;}
  }
  @keyframes arrowAnimation {
    0%   {bottom: 30px;}
    100% {bottom:20px;}
  }